.b-app {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}
.b-app__head {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 5em;
  margin: 0;
  padding: 2em;
  line-height: 1em;
  background: #e2e2e2;
}
.b-app__body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 5em 2em 2em;
}
.b-app__foot {
  position: relative;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 2em;
  margin: 0;
  margin-top: -2em;
  padding: 0 2em;
}
.b-app-over {
  position: relative;
  margin: 0;
  padding: 2em;
}
.b-app-over__back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.b-app-over__body {
  position: relative;
}
.b-app-dialog__head {
  position: relative;
  height: 3em;
  padding: 1em;
  line-height: 1em;
  background-color: #e2e2e2;
}
.b-app-dialog__head__close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3em;
  height: 3em;
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
}
.b-app-dialog__body {
  position: relative;
  padding: 1em;
  background-color: #f2f2f2;
}
